{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ImageCaptioner: What the computer thinks about an image!</title>
    <meta name="author" content="Harshit Kumar">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'captionApp/styles.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <section>
        <div class="container">

            <h1>ImageCaptioner</h1>
            What the computer thinks about an image!
            <br />
            <br />
{#            <h3><span class="fas fa-code" style="color: orangered"></span> WORK IN PROGRESS</h3>#}
            <h3><span class="fas fa-code" style="color: orangered"></span>
                Due to being unable to host large model files on heroku, this server is not working! Please run a local server by cloning the repo from github.</h3>
            <br />

            {% block content %}
            {% endblock %}

            <br />
            Check the project on <a href="https://github.com/kHarshit/image-captioner">github</a>.
            <br />
            <br />
            <em>Your uploaded image is temporarily stored on the server.
                Read more <a href="https://help.heroku.com/K1PPS2WM/why-are-my-file-uploads-missing-deleted">here</a>.</em>

        </div>
    </section>
    <footer id="last_footer">
            Copyright &copy; Harshit Kumar 2019
    </footer>
</body>
</html>